<div id="brgy">
   <div class="bg-black px-4 py-3">
      <div class="d-flex justify-content-between align-items-center">
         <span class="h6 m-0 fw-800">BARANGAY</span>
         {{!-- BUTTON TO DISPLAY ADD BARANGAY FORM --}}
         <a href="#brgy" class="i-plus" onclick="displayAdd(addBrgy)"><i
               class="bi bi-plus-circle-fill float-right"></i></a>
      </div>

      {{!-- ADD BARANGAY FORM --}}
      <div id="addBrgy" style="display: none;" class="bg-black">
         <form class="row g-0 pt-2" action="/addBrgy" method="POST">
            <div class="col-9 g-0">
               <input type="text" class="form-control font-small rounded-0 mb-3" id="inputAddBrgy" name="inputAddBrgy"
                  placeholder="Baranggay">
            </div>
            <div class="col-3 g-0" style="padding-left: 1rem;">
               <button class="btn btn-dark font-small w-100 rounded-0 " type="submit" style="height: 40px;">Add</button>
            </div>
         </form>
      </div>
   </div>

   <div class="bg-gray px-4 pb-4 pt-2 mb-3">
      <table class="table table-hover table-striped table-sm m-0">
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Barangay</th>
               <th scope="col" style="width: 70px">Actions</th>
            </tr>
         </thead>
         <tbody>
            {{#each parameter}}
            <tr>
               <td scope="row">{{this.BarangayID}}</td>
               <td id="brgy{{this.BarangayID}}">

                  {{!-- BARANGGAY NAME --}}
                  <span id="brgyValue{{this.BarangayID}}">{{this.Name}}</span>

                  {{!-- SHOW TEXT FIELD WHEN UPDATING BARANGAY NAME --}}
                  <form action="/editBrgy{{this.BarangayID}}" method="POST" id="editBrgyValue{{this.BarangayID}}"
                     style="display: none;">
                     <input type="text" name="inputEditBrgy" id="inputEditBrgy">
                  </form>

               </td>
               <td>

                  {{!-- DEFAULT ICONS --}}
                  <div id="brgyIcons{{this.BarangayID}}">
                     {{!-- <a href=" /viewBrgy/{{this.BarangayID}}" type="button"><i class="bi bi-eye bi-fm"></i></a>
                     --}}
                     <a type="button" id="{{this.BarangayID}}"
                        onclick="displayEdit(id, brgyValue{{this.BarangayID}}, editBrgyValue{{this.BarangayID}}, brgyIcons{{this.BarangayID}}, editBrgyIcons{{this.BarangayID}})"><i
                           class=" bi bi-pencil bi-fm"></i></a>
                     <a href="/removeBrgy{{this.BarangayID}}" type="button"><i class="bi bi-x bi-fm"></i></a>
                  </div>

                  {{!-- SHOW ICONS WHEN EDITING BRGY --}}
                  <div id="editBrgyIcons{{this.BarangayID}}" style="display: none;">
                     <a type="button" onclick="document.getElementById('editBrgyValue{{this.BarangayID}}').submit()"><i
                           class=" bi bi-check bi-fm"></i></a>
                     <a href="" type="button"
                        onclick="displayEdit(id, brgyValue{{this.BarangayID}}, editBrgyValue{{this.BarangayID}}, brgyIcons{{this.BarangayID}}, editBrgyIcons{{this.BarangayID}})"><i
                           class="bi bi-x bi-fm"></i></a>
                  </div>

               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</div>