<div id="services">
   <div class="bg-black px-4 py-3">
      <div class="d-flex justify-content-between align-items-center">
         <span class="h6 m-0 fw-800">SERVICES</span>
         {{!-- BUTTON TO DISPLAY ADD SERVICES FORM --}}
         <a href="#services" class="i-plus" onclick="displayAdd(addServices)"><i
               class="bi bi-plus-circle-fill float-right"></i></a>
      </div>

      {{!-- ADD SERVICES FORM --}}
      <div id="addServices" style="display: none;" class="bg-black">
         <form class="row g-0 pt-2" action="/fileMaintenance/addServices" method="POST">
            <div class="col-5 g-2">
               <input type="text" class="form-control font-small rounded-0 mb-3" id="inputAddServices"
                  name="inputAddServices" placeholder="Services">
            </div>
            <div class="col-5 g-2">
               <select name="inputAddCategory" id="inputAddCategory" placeholder="Category"
                  class="form-control font-small rounded-0 mb-3">
                  {{#each rowCategory}}
                  <option value="{{this.CategoryID}}">{{this.Name}}</option>
                  {{/each}}
               </select>
            </div>

            <div class="col-2 g-2" class="col-2">
               <button class="btn btn-dark font-small w-100 rounded-0 " type="submit" style="height: 40px;">Add</button>
            </div>
         </form>
      </div>
   </div>

   <div class="bg-gray px-4 pb-4 pt-2 mb-3">
      <table class="table table-hover table-striped table-sm m-0">
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Services</th>
               <th scope="col">Category</th>
               <th scope="col" style="width: 70px">Actions</th>
            </tr>
         </thead>
         <tbody>
            {{#each rowServices}}
            <tr>
               <td scope="row">{{this.ServicesID}}</td>
               <form action="/fileMaintenance/editServices{{this.ServicesID}}" method="POST"
                  id="editValue{{this.ServicesID}}">
                  <td id="services{{this.ServicesID}}">
                     {{!-- SERVICES NAME --}}
                     <span id="servicesValue{{this.ServicesID}}">{{this.Name}}</span>

                     {{!-- SHOW TEXT FIELD WHEN UPDATING SERVICES NAME --}}
                     <div id="editServicesValue{{this.ServicesID}}" style="display: none;">
                        <input type="text" name="inputEditServices" id="inputEditServices">
                     </div>

                  </td>
                  <td id="servicesCat{{this.ServicesID}}">
                     {{!-- SERVICES NAME --}}
                     <span id="servicesCatValue{{this.ServicesID}}">{{this.Category}}</span>

                     {{!-- SHOW TEXT FIELD WHEN UPDATING SERVICES NAME --}}
                     <div id="editServicesCatValue{{this.ServicesID}}" style="display: none;">
                        <select name="inputEditCategory" id="inputEditCategory" placeholder="Category"
                           class="form-select font-small rounded-0">
                           {{#each ../rowCategory}}
                           <option value="{{this.CategoryID}}">{{this.Name}}</option>
                           {{/each}}
                        </select>
                     </div>

                  </td>
               </form>
               <td>

                  {{!-- DEFAULT ICONS --}}
                  <div id="servicesIcons{{this.ServicesID}}">
                     {{!-- <a href=" /viewServices/{{this.ServicesID}}" type="button"><i
                           class="bi bi-eye bi-fm"></i></a>
                     --}}
                     <a type="button" id="{{this.ServicesID}}"
                        onclick="displayEdit2(servicesValue{{this.ServicesID}}, editServicesValue{{this.ServicesID}}, servicesCatValue{{this.ServicesID}}, editServicesCatValue{{this.ServicesID}}, servicesIcons{{this.ServicesID}}, editServicesIcons{{this.ServicesID}})"><i
                           class=" bi bi-pencil bi-fm"></i></a>
                     <a href="/fileMaintenance/removeServices{{this.ServicesID}}" type="button"><i
                           class="bi bi-x bi-fm"></i></a>
                  </div>

                  {{!-- SHOW ICONS WHEN EDITING Services --}}
                  <div id="editServicesIcons{{this.ServicesID}}" style="display: none;">
                     <a type="button" onclick="document.getElementById('editValue{{this.ServicesID}}').submit()"><i
                           class=" bi bi-check bi-fm"></i></a>
                     <a href="" type="button"
                        onclick="displayEdit2(servicesValue{{this.ServicesID}}, editServicesValue{{this.ServicesID}}, servicesCatValue{{this.ServicesID}}, editServicesCatValue{{this.ServicesID}}, servicesIcons{{this.ServicesID}}, editServicesIcons{{this.ServicesID}})"><i
                           class="bi bi-x bi-fm"></i></a>
                  </div>

               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</div>