<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
   <meta name="generator" content="Hugo 0.84.0">
   <title>{{ownerName}}</title>

   <!-- Bootstrap core CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

   <!-- google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">

   <!-- flatpickr -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

   {{!-- chart.js -- nandito to kasi ayaw sa baba --}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

   {{!-- date range picker --}}
   <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

   {{!-- timepicker --}}
   <link href="/css/timepicker.css" rel="stylesheet">
   <script type="text/javascript" src="/scripts/timepicker.js"></script>

   <!-- Custom styles for this template -->
   <link href="/css/styles.css" rel="stylesheet">
   <link href="/css/sidebars.css" rel="stylesheet">

</head>

<body class="row g-0">
   <aside class="container col-lg-3 vh-100 bg-black sticky-top" id="aside">
      <div class="flex-shrink-0 p-3 bg-black">
         <a href="/" class="d-flex align-items-center text-decoration-none link-custom">
            <i class="bi bi-scissors" style="margin-right:.5rem;"></i>
            <span class="fs-5 fw-semibold pl-1">{{shopName}}</span>
         </a>
         <small class="font-small">Date/Time: <span id="datetime"></span></small>
         <hr>
         <ul class="list-unstyled ps-0">
            <li class="mb-1">
               <button class="btn btn-toggle align-items-center" data-bs-toggle="collapse"
                  data-bs-target="#shops-collapse" aria-expanded="false" id="bt-shops-collapse">
                  Manage Barbershop
               </button>
               <div class="collapse" id="shops-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                     <li><a href="/deskAccount/{{shopID}}/employees" class="link-light rounded"
                           id="deskEmployees">Employees</a></li>
                     <li><a href="/deskAccount/{{shopID}}/services" class="link-light rounded"
                           id="deskServices">Services</a>
                     </li>
                     <li><a href="/deskAccount/{{shopID}}/schedule" class="link-light rounded"
                           id="deskSchedule">Barbershop
                           Schedule</a></li>
                  </ul>
               </div>
            </li>
            <li class="mb-1">
               <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                  data-bs-target="#appointments-collapse" aria-expanded="false" id="bt-appointments-collapse">
                  Manage Appointments
               </button>
               <div class="collapse" id="appointments-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                     <li><a href="/deskAccount/{{shopID}}/appointments" class="link-light rounded"
                           id="deskAppointments">Appointments</a>
                     </li>
                     <li><a href="/deskAccount/{{shopID}}/appointmentHistory" class="link-light rounded"
                           id="deskAppointmentHistory">Appointment
                           History</a></li>
                  </ul>
               </div>
            </li>
            <li class="mb-1">
               <button class="btn align-items-center" id="fm">
                  <a class="btn-toggle-custom text-decoration-none" href="/deskAccount/{{shopID}}"
                     id="deskReports">Reports</a>
               </button>
            </li>
            <hr>
         </ul>
      </div>
   </aside>
   <main class="col-9">
      {{{body}}}
   </main>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

   <script src="/index.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>


</html>