{{!-- header with add button --}}
<div class="bg-black px-4 py-3 d-flex justify-content-between">
   <span class="h6 m-0 fw-800">Customers</span>
   <a href="javascript:;" id="btnAddCustomer" class="i-plus">
      <i class="bi bi-plus-circle-fill float-right"></i>
   </a>
</div>
{{!-- Table Contents --}}
<div class="bg-gray px-4 pb-4 pt-2 mb-3">
   <table class="table table-hover table-striped table-sm m-0">
      <thead>
         {{!-- Table Headers --}}
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Given Name</th>
            <th scope="col">Family Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Contact</th>
            <th scope="col">Guest</th>
            <th scope="col">Disabled</th>
            <th scope="col" style="width: 100px">Edit</th>
         </tr>
      </thead>
      <tbody>
         {{#each rows}}
         <tr class="align-items-center">
            <td class="customerInfo-{{this.ID}} align-middle">{{this.ID}}</td>
            <td class="customerInfo-{{this.ID}} align-middle">{{this.GivenName}}</td>
            <td class="customerInfo-{{this.ID}} align-middle">{{this.FamilyName}}</td>
            <td class="customerInfo-{{this.ID}} align-middle">{{this.Email}}</td>
            <td class="customerInfo-{{this.ID}} align-middle">{{this.Contact}}</td>
            <td class="customerInfo-{{this.ID}} align-middle">
               {{#if IsGuest}}
                  True
               {{else}}
                  False
               {{/if}}
            </td>
            <td class="customerInfo-{{this.ID}} align-middle">
               {{#if IsDisabled}}
                  True
               {{else}}
                  False
               {{/if}}
            </td>
            {{!-- TODO: Add Functionality to button --}}
            <td><button class="edtAddCustomer btn btn-dark" id="AddCustomer-{{this.ID}}">Edit</button></td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</div>


{{!-- TODO: implement bootstrap modal instead --}}
{{!-- Add form Modal --}}
<div id="mdlAddCustomer">
   <div class="container">
      <div class="row">
         {{!-- modal content --}}
         <div class="col"></div>
         <div class="bg-black col-7" id="mdlcntAddCustomer">
            {{!-- close button --}}
            <div id="closeAddCustomer">
               &times;<br />
            </div>
            {{!-- modal body --}}
            <div class="h6 fw-800 mdlbdAddCustomer">
               <form class="pull-right" action="/customers" method="POST">
                  <div class="container">
                     {{!-- Given Name --}}
                     <div class="row pb-1">
                        <div class="col-4 d-flex align-items-center justify-content-end"><label name="GivenName">Given Name: </label></div>
                        <div class="col-sm"><input type="text" class="addCustomerText form-control" value="{{this.GivenName}}" name="GivenName" /></div>
                     </div>
                     {{!-- Family Name --}}
                     <div class="row pb-1">
                        <div class="col-4 d-flex align-items-center justify-content-end"><label  name="FamilyName">Family Name: </label></div>
                        <div class="col-sm"><input type="text" class="addCustomerText form-control" value="{{this.FamilyName}}" name="FamilyName" /></div>
                     </div>
                     {{!-- E-Mail --}}
                     <div class="row pb-1">
                        <div class="col-4 d-flex align-items-center justify-content-end"><label  name="Email">E-Mail: </label></div>
                        <div class="col-sm"><input type="email" class="addCustomerText form-control" value="{{this.Email}}" name="Email" /></div>
                     </div>
                     {{!-- Password --}}
                     <div class="row pb-1">
                        <div class="col-4 d-flex align-items-center justify-content-end"><label  name="Password">Password: </label></div>
                        <div class="col-sm"><input type="password" class="addCustomerText form-control" value="{{this.Password}}" name="Password" /></div>
                     </div>
                     {{!-- Contact Number --}}
                     <div class="row pb-1">
                        <div class="col-4 d-flex align-items-center justify-content-end"><label  name="Contact">Contact Number: </label></div>
                        <div class="col-sm"><input type="text" class="addCustomerText form-control" value="{{this.Contact}}" name="Contact" /></div>
                     </div>
                     {{!-- Is Guest --}}
                     <div class="row pb-1">
                        <div class="col-4 d-flex align-items-center justify-content-end"><label  name="Guest">Guest: </label></div>
                        <div class="col-sm"><input type="checkbox" {{#if this.Guest}}checked{{/if}} class="form-check-input addCustomerCheck" name="Guest"></div>
                     </div>
                     {{!-- Is Disabled --}}
                     <div class="row pb-1">  
                        <div class="col-4 d-flex align-items-center justify-content-end"><label  name="Disable">Disable: </label></div>
                        <div class="col-sm"><input type="checkbox" {{#if this.Disabled}}checked{{/if}} class="form-check-input addCustomerCheck" name="Disabled"/></div>
                     </div>
                     {{!-- Submit Button --}}
                     <div class="row pb-1 add-buttons">
                        <div class="col-4 d-flex align-items-center justify-content-end">{{!--Blank space--}}</div>
                        <div class="col-sm d-flex align-items-center justify-content-end"><input class="btn btn-light"  type="submit" value="Submit" /></div>
                     </div>
                     {{!-- Edit Button --}}
                     <div class="row pb-1 edit-buttons" style="display: none;">
                        <div class="col-4 d-flex align-items-center justify-content-end">{{!--Blank space--}}</div>
                        <div class="col-sm d-flex align-items-center justify-content-end">
                           <input  type="submit" value="Edit" />
                           <input  type="submit" value="Cancel" />
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

{{!-- Modal Script --}}
<script>
   var modal = document.getElementById("mdlAddCustomer");
   var btn = document.getElementById("btnAddCustomer");
   var span = document.getElementById("closeAddCustomer");
   


   function showModal(){
      modal.style.display = "block";
   }
   function hideModal(){
      modal.style.display = "none";
   }
   function modalEditMode(id){
      //get the fields
      const modalInputTextFields = document.getElementsByClassName("addCustomerText")
      const modalInputCheckbox = document.getElementsByClassName("addCustomerCheck")

      //get row details
      const rowFields = document.getElementsByClassName(`customerInfo-${id}`);
      const rowData = [];
      for(i = 0;i<rowFields.length;i++){
         rowData.push(rowFields[i].textContent);
      }
      rowData.forEach(item=>{console.log(item);});
      
      //initialize fields with row details, assuming everything is in order

      //get add buttons
      //hide add buttons
      //get edit buttons
      //show edit buttons
   }

   btn.onclick = () => {
      showModal();
   }
   span.onclick = () => {
      hideModal();
   }
   window.onclick = () => {
      if (event.target == modal) {
         hideModal();
      }
   }


   //edit script
   //set onclick listener
   const editButtons = document.getElementsByClassName("edtAddCustomer");
   for(let index = 0;index< editButtons.length;index++){
      let rowID = editButtons[index].id;
      editButtons[index].addEventListener("click",editRow)
   }
   function editRow(ev){
      console.log(ev.id);
      //get row id
      let rowID = this.id.split("-")[1]
      console.log(rowID);

      //show modal in edit mode
      modalEditMode(rowID);
   }
</script>