<main class="col-lg-9 container p-0" id="main">
   <div class="mt-4 p-3 text-decoration-none">
      <div class="d-flex justify-content-between">
         <span class="fs-5 fw-semibold">{{title}}</span>
         <div class="d-inline float-right">
            <td>
               <button href="javascript:;" class="btn btn-dark btn-sm mx-2 i-plus" id="Customers-add"
                  style="height: 30px;">
                  <i class="bi bi-plus"></i>
               </button>
            </td>
            <input type="text" name="search" id="search">

         </div>
      </div>
      <hr>
      {{!-- header with add button --}}
      {{!-- <div class="bg-black px-4 py-3 d-flex justify-content-between">
         <span class="h6 m-0 fw-800 align-self-center">Customers</span>
         <a href="javascript:;" id="Customers-add" class="i-plus">
            <i class="bi bi-plus-circle-fill float-right" style="color: #f1c644;"></i>
         </a>
      </div> --}}
      {{!-- Table Contents --}}
      <div class="bg-gray p-4 mb-3">
         <table class="table table-hover table-striped table-sm m-0">
            <thead>
               {{!-- Table Headers --}}
               <tr>
                  <th scope="col"> <small>ID</small></th>
                  <th scope="col"> <small>FIRST NAME</small></th>
                  <th scope="col"> <small>LAST NAME</small></th>
                  <th scope="col"> <small>EMAIL</small></th>
                  <th scope="col"> <small>CONTACT</small></th>
                  <th scope="col"> <small>GUEST</small></th>
                  <th scope="col"> <small>DISABLED</small></th>
                  <th scope="col" class="justify-content-end" style="width: 40px;"></th>
               </tr>
            </thead>
            <tbody>
               {{#each rows}}
               <tr class="align-items-center">
                  <td id="Customers-ID-{{this.CustomersID}}" class="align-middle">{{this.CustomersID}}</td>
                  <td id="Customers-GivenName-{{this.CustomersID}}" class="align-middle">{{this.firstName}}</td>
                  <td id="Customers-FamilyName-{{this.CustomersID}}" class="align-middle">{{this.lastName}}</td>
                  <td id="Customers-E-Mail-{{this.CustomersID}}" class="align-middle">{{this.Email}}</td>
                  <td id="Customers-Contact-{{this.CustomersID}}" class="align-middle">{{this.Contact}}</td>
                  <td id="Customers-Guest-{{this.CustomersID}}" class="align-middle">{{#if
                     IsGuest}}True{{else}}False{{/if}}
                  </td>
                  <td id="Customers-Disabled-{{this.CustomersID}}" class="align-middle">{{#if
                     IsDisabled}}True{{else}}False{{/if}}</td>
                  <td><button class="edit-{{../customerModal.tableName}} btn btn-dark btn-sm"
                        id="AddCustomer-{{this.CustomersID}}"><i class=" bi bi-pencil"></i></button></td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</main>

{{>modal-dialogbox modalInfo=customerModal}}