<div class="row grid">
   <div class="grid-item">
      

      <div id="cust">
   <div class="bg-black px-4 py-3">
      <div class="d-flex justify-content-between align-items-center">
         <span class="h6 m-0 fw-800">Customers</span>
         {{!-- BUTTON TO DISPLAY ADD CUSTOMERS FORM --}}
         <a href="javascript:;" class="i-plus" onclick="displayAdd(addCustomer)"><i
               class="bi bi-plus-circle-fill float-right"></i></a>
      </div>

      {{!-- ADD Customer FORM --}}
      <div id="addCustomer" style="display: none;" class="bg-black">
         <form class="row g-0 pt-2" action="/customers" method="POST">
            <div class="col-9 g-0">
               <input type="text" class="form-control font-small rounded-0 mb-3" id="inputAddCustomer" name="inputAddCustomer"
                  placeholder="Customer">
            </div>
            <div class="col-3 g-0" style="padding-left: 1rem;">
               <button class="btn btn-dark font-small w-100 rounded-0 " type="submit" style="height: 40px;">Add</button>
            </div>
         </form>
      </div>
   </div>

   <div class="bg-gray px-4 pb-4 pt-2 mb-3">
      <table class="table table-hover table-striped table-sm m-0">
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Customer</th>
               <th scope="col">E-Mail</th>
               <th scope="col">Contact</th>
               <th scope="col">Guest?</th>
               <th scope="col">Disabled?</th>
               <th scope="col" style="width: 100px">Actions</th>
            </tr>
         </thead>
         <tbody>
            {{#each parameter}}
            <tr>
               <td scope="row">{{this.CustomerID}}</td>
               <td id="cust{{this.CustomerID}}">

                  {{!-- CUSTOMER NAME --}}
                  <span id="custName{{this.CustomerID}}">{{this.GivenName}} {{this.FamilyName}}</span>

                  {{!-- SHOW TEXT FIELD WHEN UPDATING Customer NAME --}}
                  <form action="/editCust/{{this.CustomerID}}" method="POST" id="editCustName{{this.CustomerID}}"
                     style="display: none;">
                     <input type="text" name="inputEditCustFName" id="inputEditCustName">
                     <input type="text" name="inputEditCustGName" id="inputEditCustName">
                  </form>

               </td>

               <td id="cust">
                  {{!-- CUSTOMER E-Mail --}}
                  <span id="custEmail{{this.CustomerID}}">{{this.E-Mail}}</span>

                  {{!-- SHOW TEXT FIELD WHEN UPDATING Customer E-Mail --}}
                  <form action="/editCust/{{this.CustomerID}}" method="POST" id="editCustEmail{{this.CustomerID}}"
                     style="display: none;">
                     <input type="text" name="inputEditCustEmail" id="inputEditCustEmail">
                  </form>
               </td>
               <td>

                  {{!-- DEFAULT ICONS --}}
                  <div id="custIcons{{this.CustomerID}}">
                     <a type="button" id="{{this.CustomerID}}"
                        onclick="hideElements(custName{{this.CustomerID}},custEmail{{this.CustomerID}});showElements(editCustName{{this.CustomerID}},editCustEmail{{this.CustomerID}})"><i
                           class=" bi bi-pencil bi-fm"></i></a>
                     <a href="/{{this.CustomerID}}" type="button"><i class="bi bi-x bi-fm"></i></a>
                  </div>

                  {{!-- SHOW ICONS WHEN EDITING BRGY --}}
                  <div id="editCustIcons{{this.CustomerID}}" style="display: none;">
                     <a type="button" onclick="document.getElementById('editCustValue{{this.CustomerID}}').submit()"><i
                           class=" bi bi-check bi-fm"></i></a>
                     <a href="/{{this.CustomerID}}" type="button"
                        onclick="displayEdit(id, custValue{{this.CustomerID}}, editCustValue{{this.CustomerID}}, custIcons{{this.CustomerID}}, editCustIcons{{this.CustomerID}})"><i
                           class="bi bi-x bi-fm"></i></a>
                  </div>

               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</div>

{{!-- href="/editCust/{{this.CustomerID}}" --}}


   </div>
</div>