<div class="min-vh-100 p-3" id="shopsViewPage">
    <div id="divAppts">
        <div class="row px-3">
            <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                <div>
                    <span class="me-2 fw-800"><small>APPOINTMENTS</small></span>
                    <button class="btn btn-sm btn-outline-light" onclick="toggleDialog('addAppointment')"><i
                            class="bi bi-plus"></i></buttons>
                </div>
                <form class="d-flex">
                    <input class="form-control form-control-sm me-2 p-1 rounded-0" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-sm btn-outline-light me-2" type="submit"><small>SEARCH</small>
                    </button>
                </form>
            </div>
            <div class="bg-gray p-4 pt-2 mb-3">
                <table class="table table-hover table-striped table-sm m-0">
                    <thead>
                        <tr>
                            <th scope="col"> <small>CUSTOMER</small></th>
                            <th scope="col"> <small>DATE</small></th>
                            <th scope="col"> <small>TIME</small></th>
                            <th scope="col"> <small>SERVICE</small></th>
                            <th scope="col"> <small>PRICE</small></th>
                            <th scope="col"> <small>ATTENDING EMP</small></th>
                            <th scope="col" class="justify-content-end" style="width: 76px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each unfinishedAppts}}
                        <tr class="align-items-center">
                            {{#if this.CustomerName}}
                            <td class="align-middle" name="appt_Name">{{this.CustomerName}}</td>
                            {{else}}
                            <td class="align-middle" name="appt_Name">{{this.WalkInName}}</td>
                            {{/if}}
                            <td class="align-middle dateDisplay" name="appt_Date">{{this.Date}}</td>
                            <td class="align-middle" name="appt_Time">{{this.TimeIn}} - {{this.TimeOut}}</td>
                            <td class="align-middle" name="appt_Service">{{this.Service}}</td>
                            <td class="align-middle" name="appt_Amount">{{this.Amount}}</td>
                            <td class="align-middle" name="appt_EmployeeName">{{this.EmployeeName}}</td>
                            </td>
                            <td>
                                <a type="button" class="btn btn-dark btn-sm"
                                    onclick="toggleDialog('appointmentStatus{{this.AppointmentID}}')"><i
                                        class="bi bi-check"></i></a>
                                <a type="button" class="btn btn-dark btn-sm"
                                    onclick="toggleDialog('cancelAppointmentDialog{{this.AppointmentID}}')"><i
                                        class="bi bi-x"></i></a>
                            </td>
                        </tr>

                        {{!--THIS IS FOR CANCEL APPTS--}}
                        <div id="cancelAppointmentDialog{{this.AppointmentID}}" class="dialog bg-black m-auto"
                            style="display: none;">
                            <div class="p-4">
                                <div class="text-center">
                                    <button class="position-absolute btn btn-link p-0"
                                        style="right: 1.5rem; margin-top: -.5rem;"
                                        onclick="toggleDialog('cancelAppointmentDialog{{this.AppointmentID}}')">
                                        <i class="bi bi-x"></i></button>
                                    <h6 class="fw-800"> CANCEL APPOINTMENT? </h6>
                                    <hr>
                                </div>
                                <div class="center-div pt-2">
                                    {{#if this.CustomerName}}
                                    Customer Name: {{this.CustomerName}}</br>
                                    {{else}}
                                    Customer Name: {{this.WalkInName}}</br>
                                    {{/if}}
                                    Barber: {{this.EmployeeName}}</br>
                                    Service: {{this.Service}}</br>
                                    Amount: {{this.Amount}}</br>
                                    Schedule: {{this.TimeIn}} - {{this.TimeOut}}</br>
                                </div>
                            </div>

                            <div class="center-div pt-2">
                                <a href="cancelAppt{{this.AppointmentID}}" type="button"
                                    class="btn btn-warning col-6 rounded-0 fw-800">Cancel</a>
                                <button class="btn btn-outline-warning col-6 rounded-0 fw-800"
                                    onclick="toggleDialog('rescheduleAppointment{{this.AppointmentID}}'), toggleDialog('cancelAppointmentDialog{{this.AppointmentID}}'), updateEmployeeResched('{{this.ShopServicesID}}', 'attendingEmpResched')">
                                    <small>Cancel and Reschdule</small></button>
                            </div>
                        </div>

                        {{!--RESCHEDULE--}}
                        <div id="rescheduleAppointment{{this.AppointmentID}}" class="dialog bg-yellow m-auto"
                            style="display: none;">
                            <div>
                                <div class="card p-4 bg-black">
                                    <div class="text-center">
                                        <h6 class="fw-800"> RESCHEDULE APPOINTMENT </h6>
                                        <hr>
                                    </div>
                                    <div class="center-div pt-2">
                                        <div>
                                            <form action="rescheduleAppointment{{this.AppointmentID}}"
                                                id="rescheduleAppointmentForm{{this.AppointmentID}}" method="POST">
                                                {{!-- CUSTOMER DETAILS --}}
                                                <fieldset style="border: 1px solid white; padding: 0 1rem .5rem 1rem"
                                                    class="mb-2">
                                                    <legend
                                                        style="font-size: .9rem; background-color:none; float:none; width:fit-content;">
                                                        CUSTOMER INFORMATION:
                                                    </legend>
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="name" type="text" style="width: 300px;" {{#if
                                                        this.CustomerName}} value="{{this.CustomerName}}" {{else}}
                                                        value="{{this.WalkInName}}" {{/if}}>
                                                    {{!-- <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="contact" type="text" placeholder="Contact"
                                                        style="width: 300px;" required> --}}
                                                </fieldset>

                                                {{!-- SERVICE DETAILS --}}
                                                <fieldset style="border: 1px solid white; padding: 0 1rem .5rem 1rem"
                                                    class="mb-2">
                                                    <legend
                                                        style="font-size: .9rem; background-color:none; float:none; width:fit-content;">
                                                        SERVICE DETAILS:
                                                    </legend>
                                                    <input style="display: none;" value="{{this.ShopServicesID}}"
                                                        id="service4Resched" name="service">
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="service" type="text" style="width: 300px;"
                                                        value="{{this.Service}}">
                                                </fieldset>

                                                {{!-- WHO AND WHEN --}}
                                                <fieldset style="border: 1px solid white; padding: 0 1rem .5rem 1rem"
                                                    class="mb-2">
                                                    <legend
                                                        style="font-size: .9rem; background-color:none; float:none; width:fit-content;">
                                                        APPOINTMENT DETAILS:
                                                    </legend>
                                                    <select
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        id="attendingEmpResched" name="employee"
                                                        onchange="updateDatePickerResched(this, 'service4Resched')">
                                                        <option selected disabled hidden>Attending Employee</option>
                                                        {{#each ../rowsEmp}}
                                                        {{#if (isBarber EmployeeTypeID)}}
                                                        <option value="{{this.EmployeeID}}">{{this.FullName}}</option>
                                                        {{/if}}
                                                        {{/each}}
                                                    </select>
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="date" id="apptDateResched" type="date" placeholder="Date"
                                                        style="width: 300px;">
                                                    <input name="time" id="apptTimeResched" style="width: 300px;">
                                                </fieldset>
                                                <div class="m-auto center-div pt-2" style="width: 300px;">
                                                    <button class="btn btn-warning col-6 rounded-0 me-1 fw-800"
                                                        onclick="document.getElementById('rescheduleAppointmentForm{{this.AppointmentID}}').submit()"
                                                        id="btnSave">
                                                        <small>SAVE</small></button>
                                                    <button class="btn btn-outline-warning col-6 rounded-0 fw-800"
                                                        onclick="toggleDialog('rescheduleAppointment{{this.AppointmentID}}')"
                                                        type="button" id="btnCancel">
                                                        <small>CANCEL</small></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- THIS IS TOAST --}}
                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                            <input type="text" name="appt_ID" value="{{this.AppointmentID}}" style="display: none;">
                            <div id="liveToast{{this.AppointmentID}}" class="toast" role="alert" aria-live="assertive"
                                aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">APPOINTMENT ONGOING</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                        aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Appointment {{this.AppointmentID}} Ongoing</br>
                                    {{#if this.CustomerName}}
                                    Customer Name: {{this.CustomerName}}</br>
                                    {{else}}
                                    Customer Name: {{this.WalkInName}}</br>
                                    {{/if}}
                                    Barber: {{this.EmployeeName}}</br>
                                    Service: {{this.Service}}</br>
                                    Amount: {{this.Amount}}</br>
                                </div>
                            </div>
                        </div>

                        {{!-- CHECKS IF APPOINTMENT IS STILL ONGOING --}}
                        <div id="ongoingAppointment{{this.AppointmentID}}" class="dialog bg-black m-auto"
                            style="display: none;">
                            <div class="p-4">
                                <div class="text-center">
                                    <h6 class="fw-800"> IS THIS APPOINTMENT STILL ON GOING? </h6>
                                    <hr>
                                </div>
                                <div class="center-div pt-2">
                                    {{#if this.CustomerName}}
                                    Customer Name: {{this.CustomerName}}</br>
                                    {{else}}
                                    Customer Name: {{this.WalkInName}}</br>
                                    {{/if}}
                                    Barber: {{this.EmployeeName}}</br>
                                    Service: {{this.Service}}</br>
                                    Amount: {{this.Amount}}</br>
                                    Schedule: {{this.TimeIn}} - {{this.TimeOut}}</br>
                                </div>
                            </div>
                            <form method="POST" action="completeAppt{{this.AppointmentID}}">
                                <div class="center-div pt-2">
                                    <button class="btn btn-warning col-6 rounded-0 fw-800" type="button"
                                        onclick="toggleDialog('ongoingAppointment{{this.AppointmentID}}')">
                                        <small>Yes, Appointment is ongoing</small></button>
                                    <button class="btn btn-outline-warning col-6 rounded-0 fw-800" type="submit"
                                        name="appointmentStatus" value="0">
                                        <small>No, customer is No Show</small></button>
                                </div>
                            </form>
                        </div>

                        {{!-- POPS UP WHEN SCHEDULE IS UP --}}
                        <div id="appointmentStatus{{this.AppointmentID}}" class="dialog bg-black m-auto"
                            style="display: none;">
                            <div class="p-4">
                                <div class="text-center">
                                    <h6 class="fw-800"> FINISH APPOINTMENT </h6>
                                    <hr>
                                </div>
                                <div class="center-div pt-2">
                                    <p>
                                        <span class="fw-bold"> Appointment Details</span><br>
                                        Customer Name: {{this.CustomerName}}</br>
                                        Barber: {{this.EmployeeName}}</br>
                                        Service: {{this.Service}}</br>
                                        Amount: {{this.Amount}}</br>
                                        Schedule: {{this.TimeIn}} - {{this.TimeOut}}</br>
                                    </p>
                                </div>
                                <div class="center-div pt-2">
                                    {{#if this.TransactionID}}
                                    <p>
                                        <span class="fw-bold"> Payment Details</span><br>
                                        Payment Mode: Online Payment
                                        Amount Paid: {{this.Amount}}
                                        Transaction Number: {{this.TransactionID}}
                                    </p>
                                    {{else}}
                                    <p class="m-0">
                                        <span class="fw-bold"> Payment Details</span><br>
                                        Payment Mode: Personal Payment<br>
                                        Amount: {{this.Amount}}<br>
                                    </p>
                                    {{/if}}
                                </div>
                            </div>

                            <form method="POST" action="completeAppt{{this.AppointmentID}}">
                                <div class="center-div">
                                    <button class="btn btn-outline-warning col-6 rounded-0 fw-800" type="submit"
                                        name="appointmentStatus" value="2">
                                        <small>Save</small></button>
                                    <button class="btn btn-warning col-6 rounded-0 fw-800" type="button"
                                        onclick="toggleDialog('appointmentStatus{{this.AppointmentID}}')">
                                        <small>Cancel</small></button>
                                </div>
                            </form>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="addAppointment" class="dialog bg-yellow m-auto" style="display: none;">
    <div>
        <div class="card p-4 bg-black">
            <div class="text-center">
                <h6 class="fw-800"> ADD APPOINTMENT </h6>
                <hr>
            </div>
            <div class="center-div pt-2">
                <div>
                    <form action="addAppointment" id="addAppointmentForm" method="POST">
                        {{!-- CUSTOMER DETAILS --}}
                        <fieldset style="border: 1px solid white; padding: 0 1rem .5rem 1rem" class="mb-2">
                            <legend style="font-size: .9rem; background-color:none; float:none; width:fit-content;">
                                CUSTOMER INFORMATION:
                            </legend>
                            <input class="form-control form-control-sm mb-2 font-small rounded-0" name="name"
                                type="text" placeholder="Name" style="width: 300px;" required>
                            <input class="form-control form-control-sm mb-2 font-small rounded-0" name="contact"
                                type="text" placeholder="Contact" style="width: 300px;" required>
                        </fieldset>

                        {{!-- SERVICE DETAILS --}}
                        <fieldset style="border: 1px solid white; padding: 0 1rem .5rem 1rem" class="mb-2">
                            <legend style="font-size: .9rem; background-color:none; float:none; width:fit-content;">
                                SERVICE DETAILS:
                            </legend>
                            <select class="form-control form-control-sm mb-2 font-small rounded-0" name="category"
                                id="category" onchange="changeApptServices(this,4,'{{shopID}}')">
                                <option selected disabled hidden>Category</option>
                                {{#each rowsServCategory}}
                                <option value="{{this.CategoryID}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                            <select class="form-control form-control-sm mb-2 font-small rounded-0" name="service"
                                id="service4" onchange="changeEmployee(this)">
                                <option selected disabled hidden>Service</option>
                            </select>
                            {{!-- <input class="form-control form-control-sm mb-2 font-small rounded-0" name="price"
                                type="text" placeholder="Price" style="width: 300px;"> --}}
                        </fieldset>

                        {{!-- WHO AND WHEN --}}
                        <fieldset style="border: 1px solid white; padding: 0 1rem .5rem 1rem" class="mb-2">
                            <legend style="font-size: .9rem; background-color:none; float:none; width:fit-content;">
                                APPOINTMENT DETAILS:
                            </legend>
                            <select class="form-control form-control-sm mb-2 font-small rounded-0" id="attendingEmp"
                                name="employee">
                                <option selected disabled hidden>Attending Employee</option>
                                {{#each rowsEmp}}
                                {{#if (isBarber EmployeeTypeID)}}
                                <option value="{{this.EmployeeID}}">{{this.FullName}}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                            <input class="form-control form-control-sm mb-2 font-small rounded-0" name="date"
                                id="apptDate" type="date" placeholder="Date" style="width: 300px;">
                            <input name="time" id="appointmentTime" style="width: 300px;">
                        </fieldset>
                        <div class="m-auto center-div pt-2" style="width: 300px;">
                            <button class="btn btn-warning col-6 rounded-0 me-1 fw-800"
                                onclick="document.getElementById('addAppointmentForm').submit()" id="btnSave">
                                <small>SAVE</small></button>
                            <button class="btn btn-outline-warning col-6 rounded-0 fw-800"
                                onclick="toggleDialog('addAppointment')" type="button" id="btnCancel">
                                <small>CANCEL</small></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //FOR APPOINTMENTS -- CATEGORY AND SERVICES
    function changeApptServices(b, n, id) {
        const chosenCategory = b.value;
        var apptService = document.getElementById("service" + n);
        updateApptServices(chosenCategory, id, apptService);
    }

    function updateApptServices(category, id, apptService) {
        console.log(category, id);
        var services = [];
        fetch("/getInfo/shopservicesview")
            .then((res) => res.json())
            .then((data) => {
                for (var i = 0; i < data.length; i++) {
                    if (category == data[i].CategoryID && id == data[i].shopID && data[i].Status == 1) {
                        services.push(data[i]);
                    }
                }
            })
            .then((data) => {
                console.log(services)
                var serviceOptions =
                    "<option hidden disabled selected>Service</option>";
                services.forEach((element) => {
                    serviceOptions +=
                        "<option value=" +
                        element.ID +
                        "> " +
                        element.Service +
                        " </option>";
                });
                console.log(apptService)
                apptService.innerHTML = serviceOptions;
            });
    }

    //FOR EMPLOYEE SPECIALIZATION
    var employee = document.getElementById("attendingEmp");
    function changeEmployee(el) {
        var ableEmployees = [];
        fetch("/getInfo/employeeSpecialization")
            .then((res) => res.json())
            .then((data) => {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].ShopServicesID == el.value) {
                        ableEmployees.push(data[i]);
                    }
                }
                console.log(ableEmployees);
            })
            .then((data) => {
                var empOptions = "<option hidden disabled selected>Employee</option>";
                ableEmployees.forEach((element) => {
                    empOptions +=
                        "<option value=" +
                        element.EmployeeID +
                        "> " +
                        element.Name +
                        " </option>";
                });
                employee.innerHTML = empOptions;
            });
    }

    //FOR FLATPICKR -- For changing enabled dates per employee
    //get select element that holds the barber list
    const attendingEmp = document.querySelector("#attendingEmp");

    //Listens to attendingEmp
    attendingEmp.onchange = function () {
        const employee = attendingEmp.value;
        updateDatePicker(employee);
    };

    function updateDatePicker(employee) {
        var days = [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
        ];
        var nonWorkingDays = [];
        var nwdNumberForm = [];
        var scheduleData, appointments, shopservices;

        fetch("/getInfo/shopservices")
            .then((res) => res.json())
            .then((data) => {
                shopservices = data;
            });

        fetch("/getInfo/appointmentviews")
            .then((res) => res.json())
            .then((data) => {
                appointments = data;
            });

        //get nonworking days
        fetch("/getInfo/schedule")
            .then((res) => res.json())
            .then((data) => {
                scheduleData = data;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].EmployeeID == employee && data[i].TimeIn == null) {
                        nonWorkingDays.push(data[i].Date);
                    }
                }
            })
            //get non working days index for flatpicker
            .then((data) => {
                for (var i = 0; i < nonWorkingDays.length; i++) {
                    if (days.includes(nonWorkingDays[i])) {
                        nwdNumberForm.push(days.indexOf(nonWorkingDays[i]));
                    }
                }
            })
            //initializes datepicker with dynamic disabled days
            .then((data) => {
                const myInput = document.querySelector("#apptDate");
                const fp = flatpickr(myInput, {
                    disable: [
                        function (date) {
                            return nwdNumberForm.includes(date.getDay());
                        },
                    ],
                    onChange: function (selectedDates, dateStr, instance) {
                        //1. get date
                        var day = selectedDates[0].getDay();
                        //2. get occupied time of chosen date
                        var occupiedTimeSlot = [];
                        for (var i = 0; i < appointments.length; i++) {
                            //check if the appt is of the chosen employee
                            if (appointments[i].EmployeeID == employee && appointments[i].AppointmentStatus == 'Approved') {
                                console.log(appointments[i])
                                //check if the appt is of the same date
                                var newDate = new Date(appointments[i].Date);
                                var date = newDate.getDate();
                                if (date < 10) {
                                    date = '0' + newDate.getDate()
                                }
                                var m = newDate.getMonth() + 1;
                                if (m < 10) {
                                    m = '' + newDate.getMonth() + 1;
                                }
                                var currentDate =
                                    newDate.getFullYear() +
                                    "-" +
                                    m +
                                    "-" +
                                    date
                                if (currentDate == dateStr) {
                                    occupiedTimeSlot.push([
                                        appointments[i].TimeIn,
                                        appointments[i].TimeOut,
                                    ]);
                                }
                            }
                        }

                        //3. get schedule of chosen date
                        //---select timeIn and timeOut from tblsched where empId = employee
                        var daySchedTimeIn, daySchedTimeOut;
                        for (var i = 0; i < scheduleData.length; i++) {
                            //check that the schedule to be returned is of the chosen employee
                            if (scheduleData[i].EmployeeID == employee) {
                                //chech if the returned sched must be the same as the day
                                var a = scheduleData[i].Date;
                                var dayIndex = days.indexOf(a);
                                if (dayIndex == day) {
                                    daySchedTimeIn = scheduleData[i].TimeIn;
                                    daySchedTimeOut = scheduleData[i].TimeOut;
                                    console.log(daySchedTimeOut + " " + daySchedTimeIn);
                                }
                            }
                        }

                        //4. get chosen service and duration
                        var loc = window.location.href;
                        // regex to get shopID from url 
                        var r = /\d+/g;
                        // regex returns array of found integers, it returns '3000' and shopiD
                        var shopId = (loc.match(r))[1];
                        var serviceId = document.getElementById("service4").value;
                        var duration = 15;
                        for (var i = 0; i < shopservices.length; i++) {
                            if (
                                shopservices[i].shopID == shopId &&
                                shopservices[i].shopServicesID == serviceId
                            ) {
                                duration = shopservices[i].Duration;
                            }
                        }
                        var pls = $("#appointmentTime")
                        pls.timepicker({
                            minTime: daySchedTimeIn,
                            maxTime: daySchedTimeOut,
                            disableTimeRanges: occupiedTimeSlot,
                            step: duration,
                            disableTextInput: true,
                            timeFormat: "H:i:s"
                        });
                    }
                });
            });
    }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var loc = window.location.href;
    var x = /\d+/g;
    var pageShopID = loc.match(x)[1]
    var form = document.getElementById('addAppointmentForm');
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        socket.emit('message', 'i emit this pls')
    });

    socket.on('message', function (msg, shopID) {
        console.log(pageShopID, shopID)
        if (pageShopID == shopID) {
            alert(msg);
        }
    });
</script>