<div class="min-vh-100 p-3">
    <div id="deskReports" class="row">
        <div class="px-3">
            <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                <span class="me-2 fw-800"><small>CUSTOMER VOLUME REPORT</small></span>
                <form action="{{shopID}}/appointments/generateCustomerVolumeReport" method="POST">
                    <input type="text" id="daterangeCustomerVolume" name="daterangeCustomerVolume" class="font-small">
                    <button class="btn btn-sm btn-light" type="submit"><i class="bi bi-file-earmark-text"></i></button>
                </form>
            </div>
            <div>
                <canvas id="myChart" style="width:100%;"></canvas>
            </div>
        </div>
        <div class="px-3">
            <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                <span class="me-2 fw-800"><small>SALES REPORT</small></span>
                <form action="{{shopID}}/appointments/generateSalesReport" method="POST">
                    <input type="text" id="daterangeSales" name="daterangeSales" class="font-small">
                    <button class="btn btn-sm btn-light" type="submit"><i class="bi bi-file-earmark-text"></i></button>
                </form>
            </div>
            <div>
                <canvas id="chartSales" style="width:100%;"></canvas>
            </div>
        </div>


        <div class="px-3">
            <form action="{{shopID}}/appointments/generateSalaryReport" method="POST">
                <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                    <div>
                        <span class="me-2 fw-800"><small>SALARY</small></span>
                    </div>
                    <div>
                        <input type="month" id="monthPicker" name="monthPicker" onchange="setSalaryReport(this)">
                        <button class="btn btn-sm btn-light" type="submit"><i
                                class="bi bi-file-earmark-text"></i></button>
                    </div>
                </div>
                <div class="bg-gray p-4 pt-2 mb-3">
                    <table class="table table-hover table-striped table-sm m-0">
                        <thead>
                            <tr>
                                <th scope="col"> <small>EMPLOYEE</small></th>
                                <th scope="col"> <small>SALARY TYPE</small></th>
                                <th scope="col"> <small>SALARY VALUE</small></th>
                                <th scope="col"> <small>AMOUNT</small></th>
                            </tr>
                        </thead>
                        <tbody name="salaryData">
                            <tr class="align-items-center">
                                <td class="align-middle">EMPLOYEE</td>
                                <td class="align-middle">SALARY TYPE</td>
                                <td class="align-middle">SALARY VALUE</td>
                                <td class="align-middle">AMOUNT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="px-3">
            <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                <div>
                    <span class="me-2 fw-800"><small>TRANSACTIONS</small></span>
                </div>
            </div>
            <div class="bg-gray p-4 pt-2 mb-3">
                <table class="table table-hover table-striped table-sm m-0">
                    <thead>
                        <tr>
                            <th scope="col"> <small>TRANSACTION ID</small></th>
                            <th scope="col"> <small>CUSTOMER NAME</small></th>
                            <th scope="col"> <small>DATE</small></th>
                            <th scope="col"> <small>TIME</small></th>
                            <th scope="col"> <small>AMOUNT</small></th>
                            <th scope="col" style="width: 40px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each transactions}}
                        {{#if this.TransactionID}}
                        <tr class="align-items-center">
                            <td class="align-middle">{{this.TransactionID}}</td>
                            {{#if this.customerName}}
                            <td class="align-middle">{{this.customerName}}</td>
                            {{else}}
                            <td class="align-middle">{{this.WalkIn}}</td>
                            {{/if}}
                            <td class="align-middle dateDisplay">{{this.Date}}</td>
                            <td class="align-middle">{{this.Time}}</td>
                            <td class="align-middle">{{this.Amount}}</td>
                            <td>
                                <a href="{{shopID}}/appointments/generateTransaction{{this.TransactionID}}"
                                    type="button" class="btn btn-sm btn-dark"><i
                                        class="bi bi-file-earmark-text"></i></a>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>