<div class="min-vh-100 p-3" id="shopsViewPage">
    <div class="row px-3">
        <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
            <div>
                <span class="me-2 fw-800"><small>SERVICES</small></span>
                <button class="btn btn-sm btn-outline-light" onclick="toggleDialog('addServices')"><i
                        class="bi bi-plus"></i></button>
            </div>
            <form class="d-flex">
                <input class="form-control form-control-sm me-2 p-1 rounded-0" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-sm btn-outline-light me-2" type="submit"><small>SEARCH</small> </button>
            </form>
        </div>
        <div class="bg-gray p-4 pt-2 mb-3">
            <table class="table table-hover table-striped table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col"> <small>SERVICE</small></th>
                        <th scope="col"> <small>CATEGORY</small></th>
                        <th scope="col"> <small>DURATION</small></th>
                        <th scope="col"> <small>PRICE</small></th>
                        <th scope="col"> <small>STATUS</small></th>
                        <th scope="col" class="justify-content-end" style="width: 40px;"></th>

                    </tr>
                </thead>
                <tbody>
                    {{#each rowServ}}
                    <tr class="align-items-center">
                        <td class="align-middle">{{this.Service}}</td>
                        <td class="align-middle">{{this.CategoryName}}</td>
                        <td class="align-middle">{{this.Duration}}</td>
                        <td class="align-middle">{{this.Price}}</td>
                        <td class="align-middle">
                            {{#if this.Status}}
                            <a href="setInactiveServ{{this.ServicesID}}" class="btn btn-sm btn-success" type="button">
                                ACTIVE</a>
                            {{else}}
                            <a href="setActiveServ{{this.ServicesID}}" class="btn btn-sm btn-warning" type="button">
                                INACTIVE</a>
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-dark btn-sm"
                                onclick="toggleDialog('editServices{{this.ServicesID}}')"><i
                                    class=" bi bi-pencil"></i></button>
                            {{!-- <button class="btn btn-dark btn-sm" id=""><i class="bi bi-trash"></i></button>
                            --}}
                        </td>
                    </tr>
                    <div id="editServices{{this.ServicesID}}" class="dialog bg-yellow m-auto" style="display: none;">
                        <div>
                            <div class="card p-4 bg-black">
                                <div class="text-center">
                                    <h6 class="fw-800"> EDIT SERVICES </h6>
                                    <hr>
                                </div>
                                <div class="center-div pt-2">
                                    <div>
                                        <form action="editService{{this.ID}}" method="POST">
                                            <div class="col-auto my-1">
                                                <input type="text" style="display: none;" name="editCategoryHolder"
                                                    value="{{this.CategoryID}}">
                                                <select class="form-control form-control-sm mb-2 font-small rounded-0"
                                                    name="editCategory"
                                                    onchange="changeServices(this,{{this.ServicesID}})">
                                                    <option selected disabled hidden>{{this.CategoryName}}</option>
                                                    {{#each ../rowsServCategory}}
                                                    <option value="{{this.CategoryID}}">{{this.Name}}</option>
                                                    {{/each}}

                                                </select>
                                                <input type="text" style="display: none;" value="{{this.ServicesID}}"
                                                    name="editServiceHolder">
                                                <select class="form-control form-control-sm mb-2 font-small rounded-0"
                                                    name="editService" id="service{{this.ServicesID}}">
                                                    <option value="" disabled selected hidden>
                                                        {{this.Service}}
                                                    </option>
                                                </select>
                                            </div>
                                            <input class="form-control form-control-sm mb-2 font-small rounded-0"
                                                name="editPrice" type="text" value="{{this.Price}}"
                                                style="width: 300px;">
                                            <input class="form-control form-control-sm mb-2 font-small rounded-0"
                                                name="editDuration" type="number" value="{{this.Duration}}" step="15"
                                                min="15">
                                            <div class="center-div pt-2" style="width: 300px;">
                                                <button class="btn btn-warning col-6 rounded-0 me-1 fw-800"
                                                    type="submit">
                                                    <small>SAVE</small></button>
                                                <button class="btn btn-outline-warning col-6 rounded-0 fw-800"
                                                    type="button"
                                                    onclick="toggleDialog('editServices{{this.ServicesID}}')">
                                                    <small>CANCEL</small></button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div id="addServices" class="dialog bg-yellow m-auto" style="display: none;">
        <div>
            <div class="card p-4 bg-black">
                <div class="text-center">
                    <h6 class="fw-800"> ADD SERVICES </h6>
                    <hr>
                </div>
                <div class="center-div pt-2">
                    <div>
                        <form action="addService" method="POST">
                            <div class="col-auto my-1">
                                <select class="form-control form-control-sm mb-2 font-small rounded-0" name="category"
                                    onchange="changeServices(this,16)">
                                    <option selected disabled hidden>Category</option>
                                    {{#each rowsServCategory}}
                                    <option value="{{this.CategoryID}}">{{this.Name}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-control form-control-sm mb-2 font-small rounded-0" name="service16"
                                    id="service16">
                                    <option disabled selected hidden>Service</option>
                                </select>
                            </div>
                            <input class="form-control form-control-sm mb-2 font-small rounded-0" name="price"
                                type="text" placeholder="price" style="width: 300px;">
                            <input class="form-control form-control-sm mb-2 font-small rounded-0" name="duration"
                                min="15" step="15" type="number" placeholder="duration (minutes)">
                            <div class="center-div pt-2" style="width: 300px;">
                                <button class="btn btn-warning col-6 rounded-0 me-1 fw-800" type="submit">
                                    <small>SAVE</small></button>
                                <button class="btn btn-outline-warning col-6 rounded-0 fw-800" type="button"
                                    onclick="toggleDialog('addServices')">
                                    <small>CANCEL</small></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>
<script>
    function changeServices(b, n) {
        const chosenCategory = b.value;
        var service = document.getElementById("service" + n);
        updateServices(chosenCategory, service);
    }

    function updateServices(category, service) {
        console.log(service);
        console.log(category)
        var services = [];
        fetch("/getInfo/services")
            .then((res) => res.json())
            .then((data) => {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].CategoryID == category) {
                        services.push(data[i]);
                    }
                }
            })
            .then((data) => {
                var serviceOptions =
                    "<option hidden disabled selected>Service</option>";
                for (var i = 0; i < services.length; i++) {
                    console.log(services[i].ServicesID)
                    serviceOptions +=
                        "<option value=" +
                        services[i].ServicesID +
                        "> " +
                        services[i].Name +
                        " </option>";
                }
                service.innerHTML = serviceOptions;
            });
    }


</script>