<div class="min-vh-100 p-3 hidePage" id="ownersViewPage">
    <div class="mt-4 text-decoration-none">
        <div class="d-flex justify-content-between">
            <span class="fs-5 fw-semibold">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item hideBreadCrumb"><a href="/owners">Owners</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> {{rows.firstName}}
                            {{rows.lastName}}
                        </li>
                    </ol>
                </nav>
            </span>
            <button class="btn btn-dark btn-sm" onclick="toggleDialog('editOwnerInfo','ownersViewPage')"
                style="height:32px;" id="ownersNav">
                <i class=" bi bi-pencil"></i><small>EDIT OWNER INFORMATION</small>
            </button>
        </div>
    </div>
    <hr class="mt-0 hideHr">

    <div>
        <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
            <div>
                <span class="me-2 fw-800"><small>BARBERSHOPS</small></span>
                <button class="btn btn-sm btn-outline-light" onclick="toggleMultiDialog('addShopInfo')">
                    <i class="bi bi-plus"></i></button>
            </div>

            <form class="d-flex">
                <input class="form-control form-control-sm me-2 p-1 rounded-0" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-sm btn-outline-light me-2" type="submit"><small>SEARCH</small> </button>
            </form>
        </div>
        <div class="bg-gray p-4 pt-2 mb-3">
            <table class="table table-hover table-striped table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col"> <small>SHOP NAME</small></th>
                        <th scope="col"> <small>ADDRESS</small></th>
                        <th scope="col"> <small>EMAIL</small></th>
                        <th scope="col"> <small>CONTACT</small></th>
                        <th scope="col"> <small>STATUS</small></th>
                        <th scope="col" class="justify-content-end" style="width: 76px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rowsBS}}

                    <tr class="align-items-center">
                        <td class="align-middle">{{this.ShopName}}</td>
                        <td class="align-middle">{{this.Street}}, {{this.Barangay}}, {{this.City}}</td>
                        <td class="align-middle">{{this.Email}}</td>
                        <td class="align-middle">{{this.Contact}}</td>
                        <td class="align-middle">
                            {{#if this.Status}}
                            <a href="view{{../rows.OwnerID}}/setInactive{{this.ShopID}}"
                                class="btn btn-sm btn-success rounded" type="button">
                                ACTIVE</a>
                            {{else}}
                            <a href="view{{../rows.OwnerID}}/setActive{{this.ShopID}}"
                                class="btn btn-sm btn-danger rounded" type="button"> INACTIVE </a>
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-dark btn-sm"
                                onclick="toggleMultiDialog('editShopInfo{{this.ShopID}}','editShop{{this.ShopID}}','editShopInfoForm{{this.ShopID}}')"><i
                                    class=" bi bi-pencil"></i></button>
                            {{!-- <button class="btn btn-dark btn-sm" id=""><i class="bi bi-trash"></i></button>
                            --}}
                            <a href="view{{../rows.OwnerID}}/viewShop{{this.ShopID}}" type="button"
                                class="btn btn-dark btn-sm"><i class=" bi bi-eye"></i></a>
                        </td>
                    </tr>
                    <div id="editShopInfo{{this.ShopID}}" class="dialog bg-yellow m-auto" style="display: none;">
                        <div>
                            <div class="card p-4 bg-black position-relative">
                                <button class="position-absolute btn btn-link p-0"
                                    style="right: 1.5rem; margin-top: -.5rem;"
                                    onclick="toggleMultiDialog('editShopInfo{{this.ShopID}}','editShop{{this.ShopID}}','editShopInfoForm{{this.ShopID}}')"><i
                                        class="bi bi-x"></i></button>
                                <div class="text-center">
                                    <h6 class="fw-800"> EDIT BARBERSHOP INFORMATION </h6>
                                    <hr>
                                </div>
                                <div class="pt-2">
                                    <form action="view{{../rows.OwnerID}}/editShopInfo{{this.ShopID}}"
                                        id="editShopInfoForm{{this.ShopID}}" method="POST">
                                        <div class="tab editShop{{this.ShopID}}">
                                            <div class="d-flex justify-content-center">
                                                <div>
                                                    <p class="text-center"><small>BARBERSHOP INFORMATION</small></p>
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="shopName" type="text" value="{{this.ShopName}}"
                                                        style="width: 300px;">
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="email" type="text" value="{{this.Email}}"
                                                        style="width: 300px;">
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="contact" type="text" value="{{this.Contact}}"
                                                        style="width: 300px;">
                                                    {{!-- <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="street" type="text" value="{{this.Street}}"
                                                        style="width: 300px;"> --}}
                                                    <input type="text" style="display: none;" value="{{this.CityID}}"
                                                        name="cityHolder">
                                                    <select
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="city" id="city" onchange="changeBrgy(this, 2)">
                                                        <option selected disabled hidden>
                                                            {{this.City}}
                                                        </option>
                                                        {{#each ../rowsCity}}
                                                        <option value="{{this.CityID}}">{{this.Name}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <input type="text" style="display: none;"
                                                        value="{{this.BarangayID}}" name="barangayHolder">
                                                    <select
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="barangay" id="barangay2" style="width: 300px;">
                                                        <option selected disabled hidden>{{this.Barangay}}</option>
                                                        {{#each ../rowsBrgy}}
                                                        <option value="{{this.BarangayID}}">{{this.Name}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <input
                                                        class="form-control form-control-sm mb-2 font-small rounded-0"
                                                        name="street" type="text" value="{{this.Street}}"
                                                        style="width: 300px;">
                                                    <div class="mb-2" style="width: 300px;">
                                                        <label for="birPermit" class="mb-0"><small>BIR
                                                                PERMIT:</small></label>
                                                        <div class="attachment-border">
                                                            <input class="font-small reg-file-btn container-fluid pl-0"
                                                                type="file" id="birPermit" name="birPermit">
                                                        </div>
                                                    </div>
                                                    <div class="mb-2" style="width: 300px;">
                                                        <label for="busPermit" class="mb-0"><small>BUSINESS
                                                                PERMIT:</small></label>
                                                        <div class="attachment-border">
                                                            <input class="font-small reg-file-btn container-fluid pl-0"
                                                                type="file" id="busPermit" name="busPermit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab editShop{{this.ShopID}}">
                                            <p class="text-center"><small>BARBERSHOP SCHEDULE</small></p>
                                            {{#each ../rowsShopSchedule}}
                                            {{#if (withinShop this.shopID ../this.ShopID)}}
                                            <div class="row d-flex align-items-center" style="width: 400px;">
                                                <div class="col-4">
                                                    <input class="form-check-input" type="checkbox" name="{{this.Day}}"
                                                        id="checkDays{{this.Day}}" value="{{this.Day}}" {{#if
                                                        this.TimeIn}} checked {{/if}}>
                                                    <label class="form-check-label" for="inlineCheckbox1">
                                                        <small>{{this.Day}}</small></label>
                                                </div>
                                                <div class="col-8 justify-content-center">
                                                    <div class="row">
                                                        <div class="col-6 d-flex align-items-center">
                                                            <input
                                                                class="form-control form-control-sm mb-2 font-small rounded-0"
                                                                name="timeIn" id="timeIn{{this.Day}}" type="time"
                                                                value="{{this.TimeIn}}">
                                                        </div>
                                                        <div class="col-6 d-flex align-items-center">
                                                            <input
                                                                class="form-control form-control-sm mb-2 font-small rounded-0"
                                                                name="timeOut" id="timeOut{{this.Day}}" type="time"
                                                                value="{{this.TimeOut}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/if}}
                                            {{/each}}
                                        </div>
                                        {{!-- BUTTONS --}}
                                        <div style="display: block;">
                                            <div class="center-div p-2">
                                                <button class="btn btn-warning col-6 rounded-0 me-1 fw-800"
                                                    style="width: 150px;" type="button"
                                                    id="prevBtneditShop{{this.ShopID}}"
                                                    onclick="toggleMultiForm.nextPrev(-1)">Previous</button>
                                                <button class="btn btn-warning col-6 rounded-0 me-1 fw-800"
                                                    style="width: 150px;" type="button"
                                                    id="nextBtneditShop{{this.ShopID}}"
                                                    onclick="toggleMultiForm.nextPrev(1)">Next</button>
                                            </div>
                                        </div>
                                        {{!-- Circles which indicates the steps of the form: --}}
                                        <div class="text-center pt-4">
                                            <span class="step editShop{{this.ShopID}}"></span>
                                            <span class="step editShop{{this.ShopID}}"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
            <div>
                <span class="me-2 fw-800"><small>BARBERSHOP APPLICATIONS</small></span>
            </div>
            <form class="d-flex">
                <input class="form-control form-control-sm me-2 p-1 rounded-0" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-sm btn-outline-light me-2" type="submit"><small>SEARCH</small> </button>
            </form>
        </div>
        <div class="bg-gray p-4 pt-2 mb-3">
            <table class="table table-hover table-striped table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col"> <small>SHOP NAME</small></th>
                        <th scope="col"> <small>ADDRESS</small></th>
                        <th scope="col"> <small>EMAIL</small></th>
                        <th scope="col"> <small>CONTACT</small></th>
                        <th scope="col"> <small>APPLICATION STATUS</small></th>
                        <th scope="col" class="justify-content-end" style="width: 40px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rowsBSApplications}}
                    {{#unless (isBarber this.appStatusID)}}
                    <tr class="align-items-center">
                        <td class="align-middle">{{this.ShopName}}</td>
                        <td class="align-middle">{{this.Street}}, {{this.Barangay}}, {{this.City}}</td>
                        <td class="align-middle">{{this.Email}}</td>
                        <td class="align-middle">{{this.Contact}}</td>
                        <td class="align-middle">{{this.appStatus}}</td>
                        <td class="align-middle"><a type="button" class="btn btn-dark btn-sm"><i
                                    class=" bi bi-x"></i></a></td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>



{{!-- DIAGLOG BOXES --}}
<div id="editOwnerInfo" class="dialog bg-yellow m-auto" style="display: none;">
    <div>
        <div class="card p-4 bg-black">
            <div class="text-center">
                <h6 class="fw-800"> EDIT OWNER INFORMATION </h6>
                <hr>
            </div>
            <div class="center-div pt-2">
                <div>
                    <form action="view{{rows.OwnerID}}/edit{{rows.OwnerID}}" id="editOwnerInfoForm" method="POST">
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="firstName"
                            type="text" value="{{rows.firstName}}" name="firstName" style="width: 300px;">
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="lastName"
                            type="text" value="{{rows.lastName}}" name="lastName" style="width: 300px;">
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="email" type="text"
                            value="{{rows.Email}}" name="contact" style="width: 300px;">
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="contact" type="text"
                            value="{{rows.Contact}}" name="contact" style="width: 300px;">
                        <div class="center-div">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" id="status" name="status"
                                    {{#if rows.Status}} checked {{/if}}>
                                <label class="form-check-label" for="status"> Active </label>
                            </div>
                        </div>
                    </form>
                    <div class="center-div pt-2" style="width: 300px;">
                        <button class="btn btn-warning col-6 rounded-0 me-1 fw-800"
                            onclick="document.getElementById('editOwnerInfoForm').submit()">
                            <small>SAVE</small></button>
                        <button class="btn btn-outline-warning col-6 rounded-0 fw-800"
                            onclick="toggleDialog('editOwnerInfo','ownersViewPage')"> <small>CANCEL</small></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addShopInfo" class="dialog bg-yellow m-auto" style="display: none;">
    <div>
        <div class="card p-4 bg-black position-relative">
            {{!-- <button class="position-absolute btn btn-link p-0" style="right: 1.5rem; margin-top: -.5rem;"
                onclick="toggleDialog('addShopInfo')"><i class="bi bi-x"></i></button> --}}
            <div class="text-center">
                <h6 class="fw-800"> ADD BARBERSHOP </h6>
                <hr>
            </div>
            <div class="center-div pt-2">
                <form action="view{{ownerID}}" id="addShopInfoForm" method="POST" enctype="multipart/form-data">
                    {{!-- <div class="tab addShop"> --}}
                        <p class="text-center"><small>BARBERSHOP INFORMATION</small></p>
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="shopName"
                            type="text" placeholder="shopName" style="width: 300px;" required>
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="shopEmail"
                            type="text" placeholder="email" style="width: 300px;" required>
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="shopContact"
                            type="text" placeholder="contact" style="width: 300px;" required>
                        <select class="form-control form-control-sm mb-2 font-small rounded-0" name="city" id="city"
                            onchange="changeBrgy(this, 1)" style="width: 300px;" required>
                            <option selected disabled hidden>City</option>
                            {{#each rowsCity}}
                            <option value="{{this.CityID}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                        <select class="form-control form-control-sm mb-2 font-small rounded-0" name="barangay"
                            id="barangay1" style="width: 300px;" required>
                            <option selected disabled hidden>Barangay</option>
                        </select>
                        <input class="form-control form-control-sm mb-2 font-small rounded-0" name="street" type="text"
                            placeholder="street" style="width: 300px;" required>
                        <div class="mb-2" style="width: 300px;">
                            <label for="birPermit" class="mb-0"><small>BIR PERMIT:</small></label>
                            <div class="attachment-border">
                                <input class="font-small reg-file-btn container-fluid pl-0" type="file" name="birPermit"
                                    required>
                            </div>
                        </div>
                        <div class="mb-2" style="width: 300px;">
                            <label for="busPermit" class="mb-0"><small>BUSINESS PERMIT:</small></label>
                            <div class="attachment-border">
                                <input class="font-small reg-file-btn container-fluid pl-0" type="file" name="busPermit"
                                    required>
                            </div>
                        </div>
                        <div class="center-div pt-2" style="width: 300px;">
                            <button class="btn btn-warning col-6 rounded-0 me-1 fw-800" type="submit">
                                <small>SAVE</small></button>
                            <button class="btn btn-outline-warning col-6 rounded-0 fw-800" type="button"
                                onclick="toggleDialog('addShopInfo')">
                                <small>CANCEL</small></button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>