<div class="mb-2">
   <a href="/shops">
      <button type="button" class="btn btn-outline-dark">Shops</button>
   </a>
   <button type="button" hre class="btn btn-dark">Ownerships</button>
</div>

{{!-- header with add button --}}
<div class="bg-black px-4 py-3 d-flex justify-content-between">
   <span class="h6 m-0 fw-800">Ownership</span>
   <a href="javascript:;" id="Ownership-add" class="i-plus">
      <i class="bi bi-plus-circle-fill float-right"></i>
   </a>
</div>
{{!-- Table Contents --}}
<div class="bg-gray px-4 pb-4 pt-2 mb-3">
   <table class="table table-hover table-striped table-sm m-0">
      <thead>
         {{!-- Table Headers --}}
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Owner ID</th>
            <th scope="col">Shop ID</th>
            <th scope="col" style="width: 100px">Edit</th>
         </tr>
      </thead>
      <tbody>
         {{#each rows}}
         <tr class="align-items-center">
            <td id="Ownership-ID-{{this.id}}" class="align-middle">{{this.id}}</td>
            <td id="Ownership-OwnerID-{{this.id}}" class="align-middle">{{this.ownerID}}</td>
            <td id="Ownership-ShopID-{{this.id}}" class="align-middle">{{this.shopID}}</td>

            {{!-- Edit button --}}
            <td><button class="edit-{{../ownershipModal.tableName}} btn btn-dark" id="Ownership-{{this.id}}">Edit</button>
            </td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</div>


{{>modal-dialogbox modalInfo=ownershipModal}}