<main class="col-lg-9">
    <div class="mt-4 p-3 text-decoration-none">
        <div class="d-flex justify-content-between">
            <span class="fs-5 fw-semibold"><a href="/owners"> Owners </a> > {{title}}</span>
            <div class="d-inline float-right">
                <input type="text" name="search" id="search">
            </div>
        </div>
    </div>
    <div>
        <div class="bg-black">
            <p class="px-4 py-2 m-0 fw-800"><small>OWNER INFORMATION</small></p>
        </div>
        <div class="bg-gray p-4 pt-2 mb-3">
            <table class="table table-hover table-striped table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col"> <small>FIRST NAME</small></th>
                        <th scope="col"> <small>LAST NAME</small></th>
                        <th scope="col"> <small>EMAIL</small></th>
                        <th scope="col"> <small>CONTACT</small></th>
                        <th scope="col"> <small></small></th>
                        <th scope="col" class="justify-content-end" style="width: 40px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td class="align-middle">{{rows.email}}</td>
                        <td class="align-middle">{{rows.contact}}</td>
                        <td class="align-middle">
                            {{#if rows.appStatusID}}
                                <a href="/setActive{{rows.OwnerID}}" class="btn btn-sm btn-primary rounded" type="button"> ACTIVE</a>
                            {{else}}
                                <button class="btn btn-sm btn-warning rounded"> INACTIVE </button>
                            {{/if}}
                            
                        </td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="bg-black">
            <p class="px-4 py-2 m-0 fw-800"><small>EMPLOYEES</small></p>
        </div>
        <div class="bg-gray p-4 pt-2 mb-3">
            <table class="table table-hover table-striped table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col"> <small>FIRST NAME</small></th>
                        <th scope="col"> <small>LAST NAME</small></th>
                        <th scope="col"> <small>EMAIL</small></th>
                        <th scope="col"> <small>CONTACT</small></th>
                        <th scope="col"> <small>STATUS</small></th>
                        <th scope="col"> <small>TYPE</small></th>
                        <th scope="col" class="justify-content-end" style="width: 40px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td class="align-middle">{{rows.email}}</td>
                        <td class="align-middle">{{rows.contact}}</td>
                        <td class="align-middle">{{rows.appStatusID}}</td>
                        <td class="align-middle">{{rows.appStatusID}}</td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td class="align-middle">{{rows.email}}</td>
                        <td class="align-middle">{{rows.contact}}</td>
                        <td class="align-middle">{{rows.appStatusID}}</td>
                        <td class="align-middle">{{rows.appStatusID}}</td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td class="align-middle">{{rows.email}}</td>
                        <td class="align-middle">{{rows.contact}}</td>
                        <td class="align-middle">{{rows.appStatusID}}</td>
                        <td class="align-middle">{{rows.appStatusID}}</td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="bg-black">
            <p class="px-4 py-2 m-0 fw-800"><small>SERVICES</small></p>
        </div>
        <div class="bg-gray p-4 pt-2 mb-3">
            <table class="table table-hover table-striped table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col"> <small>SERVICE</small></th>
                        <th scope="col"> <small>CATEGORY</small></th>
                        <th scope="col" class="justify-content-end" style="width: 40px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td class="align-middle">{{rows.firstName}}</td>
                        <td class="align-middle">{{rows.lastName}}</td>
                        <td>
                            <button class="edit-{{../ownerModal.tableName}} btn btn-dark btn-sm" id="Owners-{{rows.OwnerID}}"><i
                                    class=" bi bi-pencil"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</main>